@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #f5f5f5;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #333;
}
a {
  color: rgb(100, 134, 197);
}
html {
  scroll-behavior: smooth;
}

header {
  background-color: #333;
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000000;
  transition: 500ms ease-in-out;
}

header h1 {
  font-size: 30px;
  font-weight: 400;
  margin-left: 20px;
  transition: 500ms ease-in-out;
}

header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
  transition: 500ms ease-in-out;
}

.hero {
  background-color: #333;
  background-image: url(https://trianglify.io/p/w:1440!h:900!x:333333.444444!v:1!c:0.15!s:adbwn9!f:sh!i:0.07);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  font-size: 50px;
  font-weight: 300;
  color: #f5f5f5;
  width: 40%;
  text-align: center;
  position: relative;
  z-index: 3;
  transition: 500ms ease-in-out;
}

.hero-text h2 {
  font-size: 30px;
  font-weight: 300;
  color: #f5f5f5;
}

.hero-text p {
  font-size: 20px;
  font-weight: 300;
  color: #f5f5f5;
  font-family: "open sans", sans-serif;
}

.hero-img img {
  border-radius: 30px;
}
.hero-img {
  margin-right: 4vw;
  position: relative;
  z-index: 3;
}

.scrolldown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.scroll-img {
  width: 30em;
  height: 10em;
  margin: 0 0.5rem;
  animation: scrolldown 2s 5s infinite;
}

@keyframes scrolldown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.skills {
  background-color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills h1 {
  font-size: 50px;
  font-weight: 300;
  color: #f5f5f5;
  width: 40%;
  text-align: center;
  position: relative;
  z-index: 3;
  font-family: "open sans", sans-serif;
}

.skills-text {
  font-size: 20px;
  font-weight: 300;
  color: #f5f5f5;
  text-transform: capitalize;
}

.skills ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.contact {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 90vh;
  color: #f5f5f5;
}

.contact-inner {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 2;
  border-right: 2px solid #f5f5f5;
  width: 50vw;
  font-family: "Roboto", sans-serif !important;
}

.contact-info strong {
  font-size: 30px;
  font-weight: 200;
  color: #f5f5f5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  font-family: "open sans", sans-serif !important;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  line-height: 2;
}

.contact-form form #submit {
  padding: 5px 8px;
  margin-top: 3px;
}

.contact-form form input {
  padding: 5px 6px;
  margin-top: 3px;
  background-color: #555;
  border: none;
  border-radius: 7px;
  color: #f5f5f5;
}

.contact-form form textarea {
  padding: 5px 6px;
  margin-top: 3px;
  background-color: #555;
  border: none;
  border-radius: 7px;
  color: #f5f5f5;
}

.footer {
  /* background-color: #c8c8c8; */
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  position: relative;
  bottom: 0;
  width: 100vw;
  z-index: 1000000000;
  color: #f5f5f5;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.footer-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-left img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 20px;
}

.footer-right {
  display: flex;
  flex-direction: row;
}
.footer-right .footer-link {
  margin: 0 20px;
}

.gallery {
  background-color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
  width: 100vw;
  margin: 10vh 0;
}

/* nessecarry */
#slides {
  position: relative;
  height: 90vh;
  width: 90vh;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;

  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.slide img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.showing {
  opacity: 1;
  z-index: 2;
}
/* noscript */
#slides {
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}
